{% extends "home.html" %}

{% block main %}
<h1 class="display-3 text-dark bg-light text-center">Book A Lab Test Here</h1>
<div class="container my-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">CBC(Complete Blood Count) Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">350 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Kidney Function Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">850 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Urine Routine and Microscopic Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">120 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Liver Function Test(LFT)</h5>
                    <p class="card-text font-weight-bold display-4 text-success">800 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold nav-link">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Random Blood Sugar (RBS) Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">80 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">C Reactive Protein (CRP) Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">350 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Creatinine Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">650 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Thyroid Stimulating Harmone(TSH) Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">500 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success display-5">Fasting Blood Sugar (FBS) Test</h5>
                    <p class="card-text font-weight-bold display-4 text-success">750 Rs</p>
                    <p class="card-text"><a href="#" class="text-success display-5 font-weight-bold">See Details</a></p>
                    <a href="#" class="btn btn-success px-5">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}