{% extends 'home.html' %}

{% block title %}Specialists Page{% endblock title %}

{% block main %}
    <div class="jumbotron my-1 bg-success text-light">
        <h1 class="display-2">{{specialist.specialist}}</h1>
        <h2 class="display-4 my-3">Department : {{specialist.title}}</h2>
        <hr class="my-3">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos placeat quis repudiandae molestiae! Earum est eveniet accusantium veritatis, saepe, cum vitae nisi consequuntur reprehenderit cumque labore hic recusandae. Laborum, corrupti dolor aut cum officia fuga? Nostrum vero, aspernatur laudantium recusandae esse, optio deserunt aut provident suscipit veniam veritatis dolorem ipsum debitis eligendi neque alias! Molestiae sunt sed ad sit recusandae cum pariatur. Maiores, doloribus, iure labore blanditiis perferendis voluptate omnis impedit accusantium molestias dolorum numquam. Vel, molestiae aliquam alias aspernatur non suscipit delectus ut, atque perferendis harum libero tempora numquam ducimus minus, excepturi accusantium? Debitis eum sapiente similique laboriosam veritatis!</p>
    </div>
{% endblock main %}